<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shortcutIdentifier</key>
	<string>5649112E-D154-4A4D-8C7F-12608B143BCC</string>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
