<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shortcutIdentifier</key>
	<string>0B708451-9A4D-4EA2-AB9B-9AE0B4D386C9</string>
	<key>version</key>
	<integer>0</integer>
</dict>
</plist>
