/opt/homebrew/lib
├── -@0.0.1
├── @bazel/bazelisk@1.19.0
├── @bazel/ibazel@v0.25.0
├── @excalidraw/excalidraw@0.15.2
├── @mermaid-js/mermaid-cli@10.8.0
├── asciicast2gif@0.2.1
├── diagonjs@1.6.1
├── electron@24.4.0
├── eslint@8.53.0
├── js-beautify@1.14.9
├── live-server@1.2.2
├── markdown-it-anchor@8.6.7
├── markdown-it-toc-done-right@4.2.0
├── neovim@5.1.0
├── npm@10.5.0
├── phpdoc@0.3.0
├── puppeteer@19.0.0
├── react-dom@18.2.0
├── react@18.2.0
├── resume-cli@3.0.7
├── taskbook@0.3.0
├── typescript-language-server@4.1.0
└── typescript@5.2.2

